:root {
  --color-primary: #07C0FF;
  --color-primary-dark: #00628D;
  --color-secondary: #B4ECFF;
  --color-black: #000;
  --color-green: #7ed56f;
  --color-orange: #ff7730;
  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
  --default-font-size: 1.6rem;
  --grid-width: 114rem;
  --gutter-vertical: 8rem;
  --gutter-vertical-small: 6rem;
  --gutter-horizontal: 6rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  padding: 2rem; }

body {
  font-family: 'MjText', sans-serif;
  font-weight: 400;
  /*font-size: 16px; */
  line-height: 1.6;
  color: var(--color-grey-dark); }

font-face {
  font-family: 'MjText';
  src: url("*/assets/fonts/MjText.ttf") format("truetype"); }

.heading-secondary {
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  font-size: 2.5rem;
  color: transparent;
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-dark));
  background-clip: text; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 2rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-right-small {
  margin-right: 1.5rem !important; }

.u-margin-right-medium {
  margin-right: 3rem !important; }

.u-float-right {
  float: right !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.3rem 6rem;
  display: inline-block;
  color: var(--color-black);
  font-size: var(--default-font-size);
  border-radius: 10rem;
  transition: all .2s;
  border: none;
  cursor: pointer; }

.btn--light {
  background-color: var(--color-secondary); }

.btn--blue {
  background-color: var(--color-primary); }

.btn:hover {
  transform: translateY(-0.3rem) scale(1.1);
  box-shadow: 0 1rem 2rem rgba(var(--color-black), 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem) scale(1.1);
  box-shadow: 0 0.5rem 2rem rgba(var(--color-black), 0.2); }

.form {
  background-color: var(--color-secondary);
  border-radius: 5rem;
  box-shadow: 0 2rem 6rem rgba(var(--color-primary-dark), 0.8);
  padding: 6rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem; }
  .form__group {
    grid-column: 1 / -1;
    display: grid; }
  .form__heading {
    justify-self: center;
    grid-column: 1 / -1; }
  .form__input {
    display: block;
    width: 100%;
    color: var(--color-black);
    font-size: 1.5rem;
    text-align: right;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid transparent;
    background-color: var(--color-primary);
    transition: all .3s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid var(--color-green); }
    .form__input:focus:invalid {
      border-bottom: 3px solid var(--color-orange); }
    .form__input::-webkit-input-placeholder {
      color: var(--color-grey-dark-3); }
  .form__btn {
    grid-column: 1 / -1;
    justify-self: center; }
  .form__label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
    text-align: right; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.section-auth {
  padding: 15rem 0;
  background-color: var(--color-primary); }

.reg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.section-sign {
  padding: 6rem 0;
  background-color: var(--color-primary);
  display: grid;
  justify-content: center;
  grid-template-columns: 60vw; }
