Django>=3.0.3,<3.1.0
djangorestframework>=3.11.0,<3.12.0
psycopg2-binary==2.8.5
psycopg2>=2.7.5,<2.8.0
pillow>=6.2.2,<6.3.0
flake8>=3.7.9,<3.8.0
django-cors-headers
django-phonenumber-field[phonenumberslite]
django-rest-passwordreset>=1.1.0,<1.2.0
django-debug-toolbar>=2.2.0,<2.3.0
djangorestframework-gis==0.15
django-filter>=2.2.0,<2.3.0
gunicorn>=20.0.4,<20.1.0
djangorestframework-simplejwt>=4.4.0,<4.5.0
factory_boy
redis>=3.5.2,<3.6.0
django-redis>=4.12.1,<4.13.0
django-silk