.section-sign {
    padding: 6rem 0;
    background-color: var(--color-primary);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, min-content);
    
}

