.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.3rem 6rem;
        display: inline-block;
        color: var(--color-black);
        font-size: var(--default-font-size);
        border-radius: 10rem;
        transition: all .2s;
        border: none;
        cursor: pointer;

    }

    &--light {
        background-color: var(--color-secondary);
    }

    &--blue {
        background-color: var(--color-primary);
    }

    &:hover {
        transform: translateY(-.3rem) scale(1.1);
        box-shadow: 0 1rem 2rem rgba(var(--color-black),.2);
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.1rem) scale(1.1);
        box-shadow: 0 .5rem 2rem rgba(var(--color-black),.2);
    }

}